<form>
  <h1 mat-dialog-title>  Frequência
  </h1>
  <!-- <strong>{{ action }}</strong> -->

  <div mat-dialog-content>
    <div *ngIf="action == 'Add'">
      <mat-form-field [formGroup]="AddFormGroup">
        <!-- <h1 mat-dialog-title>  Ano </h1> -->
        <input matInput type="number" formControlName="ano" placeholder="Digite o Ano"  />
      </mat-form-field>

      <mat-form-field [formGroup]="AddFormGroup">
        <!-- <div> mat-dialog-title> Dias </div> -->
        <input matInput type="number" formControlName="tempoLiquido" placeholder="Digite a quantidade de dias"/>
      </mat-form-field>
    </div>

    <div *ngIf="action == 'Update'">
      <mat-form-field [formGroup]="UpdateFormGroup">
        <input matInput type="number" formControlName="ano" placeholder="Atualizando ano {{ local_data.ano }}"/>
      </mat-form-field>

      <mat-form-field [formGroup]="UpdateFormGroup">
        <input matInput type="number" formControlName="tempoLiquido" placeholder="Atualizando dias {{ local_data.dias }}"/>
      </mat-form-field>
    </div>

    <div *ngIf="action == 'Delete'">
      <label mat-label> Tem certeza que deseja deletar o ano de : {{ local_data.ano }}?</label>
    </div>
  </div>

  <div mat-dialog-actions *ngIf="action == 'Add' || action=='Update'">
    <button mat-button type="button" (click)="closeDialog()" mat-flat-button color="warn">
      Cancelar
    </button>
    <button mat-button type="button" (click)="doAction()" [disabled]="AddFormGroup.invalid && UpdateFormGroup.invalid">
      <div id="botaoadicionar">Adicionar</div> <!-- {{ action }} -->
    </button>
  </div>

  <div mat-dialog-actions *ngIf="action == 'Delete'">
    <button mat-button type="button" (click)="closeDialog()" mat-flat-button color="warn">
      Não
    </button>
    <button mat-button type="button" (click)="doAction()">
     <div id="botaoadicionar">Sim</div>
    </button>
  </div>

</form>
