.mat-stepper-horizontal {
  margin-top: 8px;
  background-color:#e0dede;

}

#titulo{
  text-align: center;
  font-size: 30px;
}

#letra{
  color:black;
  font-size: 22px;
}

#letraexemplo{
  color: #abb7b7;
}

#botaoproximo{
  color:white;
  background-color: #007bfc;
  width: 8%;
  border-radius: 4px;
  transition: opacity 0.5s;
  border: none;
  display: block;
  flex: 1;
  //padding: 1px;
}

#botaoproximo2{
  color:white;
  background-color: #007bfc;
  width: 8%;
  border-radius: 4px;
  transition: opacity 0.5s;
  border: none;
  display: block;
  flex: 1;
  padding: 1px;
}

#botaoenviar{
  color:white;
  background-color: #007bfc;
  width: 40%;
  border-radius: 4px;
  transition: opacity 0.5s;
  border: none;
  display: block;
  flex: 1;
  //padding: 1px;
}

#botaovoltar{
  color: white;
  background-color: #407088;
  // width: 140%;
  border-radius: 4px;
  transition: opacity 0.5s;
  // border: none;
  // display: block;
  // flex: 1;
  padding: 1px;
}

#botaoreiniciar{
  margin-right: 1%;
  //text-align: right;
  color:white;
  background-color: #007bfc;
  width: 5%;
  border-radius: 4px;
  transition: opacity 0.5s;
  border: none;
  display: block;
  flex: 1;
  padding: 1px;
}

.mat-form-field {
  margin-top: 16px;
}

 .colunas {
   -webkit-column-count: 2; /* Chrome, Safari, Opera */
   -moz-column-count: 2; /* Firefox */
   column-count: 2;
   width: 30%;
   margin-top: 2%;
 }

 .colunas2 {
   -webkit-column-count: 3; /* Chrome, Safari, Opera */
   -moz-column-count: 3; /* Firefox */
   column-count: 3;
   width: 25%;
 }

 .colunasbotoes {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  width: 15%;
}


  .demo-table {
    width: 30%;
  }

  .mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }

  .mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
  }

  .mat-column-demo-weight {
    font-style: italic;
  }

  .mat-column-demo-symbol {
    width: 32px;
    text-align: center;
    font-weight: bold;
  }

  #banner{
    width: 20%;

  }
#divbanner{
  text-align: center;
}

#label{
  font-size: 16px;
  margin-bottom: 5%;
  color: #FFFFFF;
  background-color:#407088;
}
#labelgenero{
  font-size: 16px;
  //margin-bottom: 5%;
  color: #FFFFFF;
  background-color:#407088;
  background-color: position center;
  padding: 2px;

}

#homem{
  margin-right: 3%;
  background-color: #c8c5c5;

}

#mulher{
  background-color: #c8c5c5;

}

#botaovoltar{
  margin-right: 1%;
}

#botaoadd{
  margin-bottom: 1%;
  font-size: 16px;
  color: #FFFFFF;
  background-color:#007bfc;
  background-color: position center;
  padding: 2px;
}

#tabela{
  margin-bottom: 2%;
  text-align:center;
}

#botaoenviar{
  text-align: right;
}

#labelfreq{
  width: 30%;
  text-align: center;
}

#divbotaoadd{
  width: 30%;
  text-align: right;
}

#idcontainer{
  text-align: center;
}

#tituloano{
  text-align: center;
}

#tituloelementoano{
  text-align: center;
}

#idcontainer2{
  text-align: center;
}

#titulodias{
  text-align: center;
}

#tituloelementodias{
  text-align: center;
}

#idcontainer3{
  text-align: center;
}

#tituloaction{
  text-align: center;
}

#tituloelementoaction{
  text-align: center;
}

#botoesstep3{
  width: 100%;
}


