
<div id="resultado">
  <h2>
    <b> Resultado:</b>
  </h2>
  <h2>
    Informações pessoais
  </h2>
  <div>
    <h3>Gênero: {{resultadoCalculo.pessoa.genero}}</h3>
    <h3>Data de nascimento: {{resultadoCalculo.pessoa.dataNascimento}}</h3>
    <h3>Idade: {{resultadoCalculo.pessoa.idade}}</h3>
  </div>

  <h2>Resultado da verificação de aposentadoria em tempo integral</h2>
  <div>
    <h3>Contribuição Total: {{resultadoCalculo.resultadoVerificacaoTempoIntegral.contribuicaoTotal}}</h3>
    <h3>Limite de idade para {{resultadoCalculo.pessoa.genero}}: {{resultadoCalculo.resultadoVerificacaoTempoIntegral.limiteIdade}}</h3>
    <h3>Limite de tempo de serviço para {{resultadoCalculo.pessoa.genero}}: {{resultadoCalculo.resultadoVerificacaoTempoIntegral.limiteTempoServico}}</h3>
    <h3 *ngIf="resultadoCalculo.resultadoVerificacaoTempoIntegral.novoLimiteIdade!=null">
      Novo limite de idade com desconto do tempo de serviço: {{resultadoCalculo.resultadoVerificacaoTempoIntegral.novoLimiteIdade}}</h3>
  </div>

  <h2>Cálculo do abono de permanência</h2>
  <div *ngIf="resultadoCalculo.resultadoCalculoAbono.mensagem==null">
    <h3>Dias averbados com o MP: {{resultadoCalculo.resultadoCalculoAbono.averbacaoTotal}}</h3>
    <h3>Frequência total: {{resultadoCalculo.resultadoCalculoAbono.frequenciaTotal}}</h3>
    <h3>Tempo ficto: {{resultadoCalculo.resultadoCalculoAbono.tempoFicto}}</h3>
    <h3>Licença-prêmio não usufruída: {{resultadoCalculo.resultadoCalculoAbono.licencaPremio}}</h3>
    <h3>Tempo averbado total: {{resultadoCalculo.resultadoCalculoAbono.tempoAverbadoTotal}}</h3>
    <h3>Tempo restante: {{resultadoCalculo.resultadoCalculoAbono.tempoRestante}}</h3>
    <h3>Pedágio: {{resultadoCalculo.resultadoCalculoAbono.pedagio}}</h3>
    <h3>Tempo para abono:{{resultadoCalculo.resultadoCalculoAbono.tempoParaAbono}}</h3>
    <h3>Tempo total de contribuição: {{resultadoCalculo.resultadoCalculoAbono.tempoTotalContribuicao}}</h3>
    <h3>Data de início do abono:{{resultadoCalculo.resultadoCalculoAbono.dataInicioAbono}}</h3>
  </div>

  <div *ngIf="resultadoCalculo.resultadoCalculoAbono.mensagem!=null">
    <h3>{{resultadoCalculo.resultadoCalculoAbono.mensagem}}</h3>
  </div>

  <app-pdfdownload></app-pdfdownload>
  <button mat-button  [routerLink]="['/inicio']" > <div id="botaoinicio">Início</div> </button>

</div>
